* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e5b993;
    overflow-x: hidden;
    max-width: 100vw;
}

.header {
    background-color: #e5b993;
}



.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

.meun {
    flex: 1;
    text-align: right;
}

.meun ul {
    display: inline-block;
    list-style-type: none;
}

.meun ul li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: black;
}

p {
    color: black;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 35px;
    padding-right: 35px;
}


.item_header {
    display: flex;
    width: 1000px;
    margin: 0 auto;
    height: 30px;
    background-color: #e5b993;
    border-radius: 3px;
    padding-left: 10px;
    border: solid;
}

.item_header div {
    width: 200px;
    color: #333;
}

.item_header .item_detail {
    width: 50%;
}

.item_body {
    margin-top: 20px;
    height: 100px;
    align-items: center;
}

.item_detail img {
    width: 80px;
    height: 80px;
    border-radius: 3px;
    /* margin-top: 10px; */
    float: left;
}

.item_detail .name {
    margin-left: 100px;
    margin-top: 20px;
    font-size: 15px;
}

.count input {
    width: 40px;
    height: 30px;
    padding: 5px;
}

.body {
    background-color: rgba(0, 0, 0, .2);
}

.cart-info img {
    width: 10%;
}



.check {
    display: inline-block;
    background-color: rgb(219, 119, 58);
    color: #333;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer {
    background-color: black;
    color: #a19d9d;
    font-size: 14px;
    padding: 60px 0 20px;
}

.footer h3 {
    color: #fff;
    margin-bottom: 20px;
}

.footer-col2 {
    width: 10%;
}

.footer-col2 img {
    width: 70%;
    border-radius: 22px;
}

.container1 {
    display: flex;
    justify-content: space-evenly;
}

.footer-col4 {
    text-decoration: none;
}

.ig {
    width: 100px;
    height: 100px;
    border-radius: 22px;
}