<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 30f400ee317f26ec5c6815d425a540519d0bc177
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e5b993;
    overflow-x: hidden;
    max-width: 100vw;
}

<<<<<<< HEAD
=======
body,*{
    margin:0;
    padding:0;
    overflow-x:hidden;
    max-width:100vw;
    box-sizing: border-box;
}

.header {
    background-color: #e5b993;
}



>>>>>>> 6e57dff2ae0f041fea941ee557735512f706894c
=======
>>>>>>> 30f400ee317f26ec5c6815d425a540519d0bc177
.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

.meun {
    flex: 1;
    text-align: right;
}

.meun ul {
    display: inline-block;
    list-style-type: none;
}

.meun ul li {
    display: inline-block;
<<<<<<< HEAD
<<<<<<< HEAD
    margin-right: 10px;
    padding: 15px;
=======
    margin-right: 20px;
>>>>>>> 6e57dff2ae0f041fea941ee557735512f706894c
=======
    margin-right: 10px;
    padding: 15px;
>>>>>>> 30f400ee317f26ec5c6815d425a540519d0bc177
}

a {
    text-decoration: none;
    color: black;
}

p {
    color: black;
}

<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 30f400ee317f26ec5c6815d425a540519d0bc177
.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 35px;
    padding-right: 35px;
}

.navigationbar {
    background-color: #333;
    overflow: hidden;
    text-align: center;
    justify-content: center;
    display: flex;
    word-spacing: 20%;
}

.navigationbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.search-btn img {
    width: 20px;
    height: auto;
}

ul {
    /* 取消ul預設的內縮及樣式 */
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.drop-down-menu {
    display: inline-block;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 15px;
}

ul.drop-down-menu>li:last-child {
    border-right: none;
}

ul.drop-down-menu a {
    color: #333;
    display: flex;
    padding: 0 30px;
    text-decoration: none;
    line-height: 40px;
    border: solid;
}

.dropdown {
    border-radius: 10px;
    background-color: wheat;
    margin-right: -500px;
}

.dropdown01 {
    border-radius: 10px;
    background-color: #333;
}

.dropdown01 p {
    color: wheat;
}

ul.drop-down-menu a:hover {
    /* 滑鼠滑入按鈕變色*/
    border-radius: 10px;
    background-color: #ef5c28;
    color: #fff;
}

ul.drop-down-menu li:hover>a {
    /* 滑鼠移入次選單上層按鈕保持變色*/
    border-radius: 10px;
    background-color: #ef5c28;
    color: #fff;
}

ul.drop-down-menu ul li {
    border-bottom: #ccc 1px solid;
}

ul.drop-down-menu ul li:last-child {
    border-bottom: none;
}

ul.drop-down-menu ul {
    /*隱藏次選單*/
    left: auto;
    right: 0;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

ul.drop-down-menu li:hover>ul {
    /* 滑鼠滑入展開次選單*/
    opacity: 1;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    left: -1px;
    border-right: 5px;
}

ul.drop-down-menu ul li:hover>ul {
    /* 第二層之後的選單展開位置*/
    left: 90%;
}

ul.drop-down-menu .dropdown {
    float: left;
    overflow: hidden;
}

ul.drop-down-menu .dropdown p {
    color: white;
    text-align: right;
}

.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown p {
    color: white;
    text-align: right;
}

#container {
    position: relative;
    width: 900px;
    height: 500px;
    border: 3px solid #333;
    margin: 115px auto;
    overflow: hidden;
}

<<<<<<< HEAD
=======
>>>>>>> 6e57dff2ae0f041fea941ee557735512f706894c
=======
>>>>>>> 30f400ee317f26ec5c6815d425a540519d0bc177
table {
    width: 100%;
    border-collapse: collapse;
}

.cart-page {
    margin: 80px;
    margin-left: 10%;
    margin-right: 10%;
}

.cart-info {
    display: flex;
    flex-wrap: wrap;
}

th {
    text-align: left;
    padding: 5px;
    color: #fff;
    background: black;
    font-weight: normal;
}

<<<<<<< HEAD
<<<<<<< HEAD
=======
.container4 {
    margin: 50px;
    margin-left: 45%;
    margin-right: 40%;
    text-align: left;
}

.cart-info2 {
    margin: 50px;
    margin-left: 45%;
    margin-right: 40%;
    text-align: left;
}

.cart-info2 img {
    width: 70%;
}

>>>>>>> 6e57dff2ae0f041fea941ee557735512f706894c
=======
>>>>>>> 30f400ee317f26ec5c6815d425a540519d0bc177
.cart-info img {
    width: 10%;
}


.footer {
    background-color: black;
    color: #a19d9d;
    font-size: 14px;
    padding: 60px 0 20px;
}

.footer p {
    color: #a19d9d;
}

.footer h3 {
    color: #fff;
    margin-bottom: 20px;
}

.footer-col2 {
    width: 10%;
}

.footer-col2 img {
    width: 70%;
    border-radius: 22px;
}

.container1 {
    display: flex;
    justify-content: space-evenly;
}

.footer-col4 {
    text-decoration: none;
}


.ig {
    width: 100px;
    height: 100px;
    border-radius: 22px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
<<<<<<< HEAD
<<<<<<< HEAD
}
=======
}
>>>>>>> 6e57dff2ae0f041fea941ee557735512f706894c
=======
}
>>>>>>> 30f400ee317f26ec5c6815d425a540519d0bc177
