* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #faedcd;
}

.navbar {
    display: flex;
    align-items: center;

}

.meun {
    display: flex;
    margin-left: 120%;
    text-align: right;
}

.meun ul {
    display: flex;
    list-style-type: none;
}

.meun ul li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: black;
}

p {
    color: black;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 35px;
    padding-right: 35px;
    display: flex;
    justify-content: space-between;
}

.navigationbar {
    background-color: #333;
    overflow: hidden;
    text-align: center;
    justify-content: center;
    display: flex;
    word-spacing: 20%;
}

.navigationbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigationbar a:hover {
    background-color: red;
    color: black;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    font-family: inherit;
    background-color: #333;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.comment{
    outline: none;
    background-color: white;
    border: 1px solid black;
    margin-top: 50px;
    font-size: 15px;
    width: 100%;
    color: black ;
    /*display: block;
    margin: auto;*/
}

.button{
    display: flex;
}

.list{
    width: 80%;
    /*border: solid;*/
}

.car{
    width: 20%;
   
}


h1{
    text-align: center;
}

.title{
    display: flex;
}

.slideshow-container {
    width: 550px;
    position: relative;
    flex: 1;
}

.mySlides {
    display: none;
}

.img01{
 width: 650px;  
 height: 650px;
 padding: 120px;
 border-radius: 25%;
 /*border: solid;*/
}

.prev, .next {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    font-size: 20px;
    cursor: pointer;
    /*border: solid;*/  
}

.prev {
    left: 0;
}

.next {
    right: 10%;
}

.text01{
    padding: 5% 10% 0% 0%;
    font-size: 25px;
    width: 40%;
    flex: 1;
}
.photo{
    width: 100%;
    /*border-style: solid;*/
}


.button {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 30px;
   
}

.button1{
    width: 50%;
}

.button2{
    width: 50%;
}

input {
    border: 0;
    background-color: #bc6c25;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

input:hover {
    color: #bc6c25;
    background-color: #fff;
    border: 2px #bc6c25 solid;
}

.footer {
    background-color: black;
    color: #a19d9d;
    font-size: 14px;
    padding: 60px 0 20px;
}

.footer p {
    color: #a19d9d;
}

.footer h3 {
    color: #fff;
    margin-bottom: 20px;
}

.footer-col2 {
    width: 15%;
}

.footer-col2 img {
    width: 70%;
}

.container1 {
    display: flex;
    justify-content: space-evenly;
}

.footer-col4 {
    text-decoration: none;
}


.ig {
    width: 100px;
    height: 100px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
