* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body{
    overflow-x:hidden;
    max-width:150vw;
    background-color: #e5b993;
}

.navbar {
    display: flex;
    align-items: center;

}

.meun {
    display: flex;
    margin-left: 120%;
    text-align: right;
}

.meun ul {
    display: flex;
    list-style-type: none;
}

.meun ul li {
    display: inline-block;
    margin-right: 25px;
    padding: 15px;
}

a {
    text-decoration: none;
    color: black;
}

p {
    color: black;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 35px;
    padding-right: 35px;
    display: flex;
    justify-content: space-between;
}


    .navigationbar {
        background-color: #333;
        overflow: hidden;
        text-align: center;
        justify-content: center;
        display: flex;
        word-spacing: 20%;
    }
    
    .navigationbar a {
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    .dropdown {
        float: left;
        overflow: hidden;
    }
    
    .dropdown p{
        color: white;
    }
.comment{
    outline: none;
    background-color: white;
    border: 1px solid black;
    margin-top: 50px;
    font-size: 15px;
    width: 100%;
    color: black ;
    /*display: block;
    margin: auto;*/
}

.button{
    display: flex;
}

.list{
    width: 80%;
    /*border: solid;*/
}

.car{
    width: 20%;
   
}


h1{
    text-align: center;
}

.title{
    display: flex;
}

.slideshow-container {
    width: 550px;
    position: relative;
    flex: 1;
}

.mySlides {
    display: none;
}

.img01{
 width: 650px;  
 height: 650px;
 padding: 120px;
 border-radius: 25%;
 /*border: solid;*/
}

.prev, .next {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    font-size: 20px;
    cursor: pointer;
    /*border: solid;*/  
}

.prev {
    left: 0;
}

.next {
    right: 10%;
}

.text01{
    padding: 5% 10% 0% 0%;
    font-size: 25px;
    width: 40%;
    flex: 1;
}
.photo{
    width: 100%;
    /*border-style: solid;*/
}


.button {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 30px;
   
}

.button1{
    width: 50%;
}

.button2{
    width: 50%;
}

input {
    border: 0;
    background-color: #bc6c25;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

input:hover {
    color: #bc6c25;
    background-color: #fff;
    border: 2px #bc6c25 solid;
}

.buyer{
    margin: 2%;
    border: solid black;
    background-color: #f1faee;
    border-radius: 10px;
}

.consumer_name{
    font-size: 25px;
}

.respond{
    font-size: 20px;
}

.footer {
    background-color: black;
    color: #a19d9d;
    font-size: 14px;
    padding: 60px 0 20px;
}

.footer p {
    color: #a19d9d;
}

.footer h3 {
    color: #fff;
    margin-bottom: 20px;
}

.footer-col2 {
    width: 10%;
}

.footer-col2 img {
    border-radius: 22px;
    width: 70%;
}

.container1 {
    display: flex;
    justify-content: space-evenly;
}

.footer-col4 {
    text-decoration: none;
}


.ig {
    width: 100px;
    height: 100px;
    border-radius: 22px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
