<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 30f400ee317f26ec5c6815d425a540519d0bc177
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e5b993;
    overflow-x: hidden;
    max-width: 100vw;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

.meun {
    flex: 1;
    text-align: right;
}

.meun ul {
    display: inline-block;
    list-style-type: none;
}

.meun ul li {
    display: inline-block;
    margin-right: 10px;
    padding: 15px;
}

a {
    text-decoration: none;
    color: black;
}

p {
    color: black;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 35px;
    padding-right: 35px;
}

.navigationbar {
    background-color: #333;
    overflow: hidden;
    text-align: center;
    justify-content: center;
    display: flex;
    word-spacing: 20%;
}

.navigationbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.search-btn img {
    width: 20px;
    height: auto;
}

ul {
    /* 取消ul預設的內縮及樣式 */
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.drop-down-menu {
    display: inline-block;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 15px;
}

ul.drop-down-menu>li:last-child {
    border-right: none;
}

ul.drop-down-menu a {
    color: #333;
    display: flex;
    padding: 0 30px;
    text-decoration: none;
    line-height: 40px;
    border: solid;
}

.dropdown {
    border-radius: 10px;
    background-color: wheat;
    margin-right: -500px;
}

.dropdown01 {
    border-radius: 10px;
    background-color: #333;
}

.dropdown01 p {
    color: wheat;
}

ul.drop-down-menu a:hover {
    /* 滑鼠滑入按鈕變色*/
    border-radius: 10px;
    background-color: #ef5c28;
    color: #fff;
}

ul.drop-down-menu li:hover>a {
    /* 滑鼠移入次選單上層按鈕保持變色*/
    border-radius: 10px;
    background-color: #ef5c28;
    color: #fff;
}

ul.drop-down-menu ul li {
    border-bottom: #ccc 1px solid;
}

ul.drop-down-menu ul li:last-child {
    border-bottom: none;
}

ul.drop-down-menu ul {
    /*隱藏次選單*/
    left: auto;
    right: 0;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

ul.drop-down-menu li:hover>ul {
    /* 滑鼠滑入展開次選單*/
    opacity: 1;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    left: -1px;
    border-right: 5px;
}

ul.drop-down-menu ul li:hover>ul {
    /* 第二層之後的選單展開位置*/
    left: 90%;
}

ul.drop-down-menu .dropdown {
    float: left;
    overflow: hidden;
}

ul.drop-down-menu .dropdown p {
    color: white;
    text-align: right;
}

.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown p {
    color: white;
    text-align: right;
}

#container {
    position: relative;
    width: 900px;
    height: 500px;
    border: 3px solid #333;
    margin: 115px auto;
    overflow: hidden;
}

.register {
    background-color: #efba9a;
<<<<<<< HEAD
=======
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register{
    background-color:#efba9a ;
    width: 400px;
>>>>>>> 6e57dff2ae0f041fea941ee557735512f706894c
=======
>>>>>>> 30f400ee317f26ec5c6815d425a540519d0bc177
    color: black;
    padding: 40px;
    box-shadow: 10px 10px 10px #000;
    text-align: center;
}

<<<<<<< HEAD
<<<<<<< HEAD
.register input {
=======
.register input{
>>>>>>> 6e57dff2ae0f041fea941ee557735512f706894c
=======
.register input {
>>>>>>> 30f400ee317f26ec5c6815d425a540519d0bc177
    display: block;
    margin: 20px auto;
    text-align: center;
    background: none;
    padding: 12px;
    font-size: 15px;
    border-radius: 22px;
    outline: none;
}

<<<<<<< HEAD
<<<<<<< HEAD
.register input[type="submit"] {
=======
.register input[type="submit"]{
>>>>>>> 6e57dff2ae0f041fea941ee557735512f706894c
=======
.register input[type="submit"] {
>>>>>>> 30f400ee317f26ec5c6815d425a540519d0bc177
    width: 150px;
    cursor: pointer;
}

<<<<<<< HEAD
<<<<<<< HEAD
.register input[type="text"],
.register input[type="password"] {
=======
.register input[type="text"], .register input[type="password"]{
>>>>>>> 6e57dff2ae0f041fea941ee557735512f706894c
=======
.register input[type="text"],
.register input[type="password"] {
>>>>>>> 30f400ee317f26ec5c6815d425a540519d0bc177
    border: 2px solid black;
    width: 220px;
}

<<<<<<< HEAD
<<<<<<< HEAD
.register input[type="text"]:focus,
.login input[type="password"]:focus {
=======
.register input[type="text"]:focus, .login input[type="password"]:focus{
>>>>>>> 6e57dff2ae0f041fea941ee557735512f706894c
=======
.register input[type="text"]:focus,
.login input[type="password"]:focus {
>>>>>>> 30f400ee317f26ec5c6815d425a540519d0bc177
    border-color: #bc6c25;
    width: 280px;
    transition: 0.5s;
}
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 30f400ee317f26ec5c6815d425a540519d0bc177

.button {
    display: flex;
    justify-content: center;
    gap: 1;
}

.jim {
    border: solid;
<<<<<<< HEAD
=======
.button{
    display: flex;
    justify-content: center;
    gap: 1;
>>>>>>> 6e57dff2ae0f041fea941ee557735512f706894c
=======
>>>>>>> 30f400ee317f26ec5c6815d425a540519d0bc177
}