* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #e5b993;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

.meun {
    flex: 1;
    text-align: right;
}

.meun ul {
    display: inline-block;
    list-style-type: none;
}

.meun ul li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: black;
}

p {
    color: black;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 35px;
    padding-right: 35px;
}

.navigationbar {
    background-color: #333;
    overflow: hidden;
    text-align: center;
    justify-content: center;
    display: flex;
    word-spacing: 20%;
}

.navigationbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigationbar a:hover {
    background-color: red;
    color: black;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    font-family: inherit;
    background-color: #333;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col2 img {
    max-width: 100%;
    padding: 50px 0;
}

.col2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn {
    display: inline-block;
    background-color: rgb(230, 121, 43);
    color: #333;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
}

.btn hover {
    background: #f9f9f9;
    color: #f9f9f9;
}

.categories {
    margin: 70px 0;
}

.prod1 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 40px;
}

.prod1 img {
    width: 100%;
}

.lil-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.col4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
}

.col4 img {
    width: 100%;
}

.title {
    text-align: center;
    font-size: 40px;
    font-family: 標楷體;
}

.producutimg {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2%;
}

.p {
    height: 300px;
    width: 300px;
    display: block;
    margin: auto;
    transform: scale(1, 1);
    transition: all 1s ease-out;
}

.p:hover {
    transform: scale(1.1);
}

.producutimg1 p,
.producutimg2 p,
.producutimg3 p {
    font-size: 20px;
    text-align: center;
    margin-top: 5%;
}

.producutimg1,
.producutimg2,
.producutimg3 {
    width: 25%;
}

.producutimg4 p,
.producutimg5 p,
.producutimg6 p {
    font-size: 20px;
    text-align: center;
    margin-top: 5%;
}

.producutimg4,
.producutimg5,
.producutimg6 {
    width: 25%;
}

.footer {
    background: black;
    color: #a19d9d;
    font-size: 14px;
    padding: 60px 0 20px;
}

.footer p {
    color: #a19d9d;
}

.footer h3 {
    color: #fff;
    margin-bottom: 20px;
}

.footer-col2 {
    width: 15%;
}

.footer-col2 img {
    width: 70%;
}

.container1 {
    display: flex;
    justify-content: space-evenly;
}

.footer-col4 {
    text-decoration: none;
}


.ig {
    width: 100px;
    height: 100px;
}

.item_header {
    display: flex;
    width: 1000px;
    margin: 0 auto;
    height: 30px;
    background-color: #e5b993;
    border-radius: 3px;
    padding-left: 10px;
    border: solid;
}

.item_header div {
    width: 200px;
    color: #333;
    line-height: 30px;
}

.item_header .item_detail {
    width: 50%;
}

.item_body {
    margin-top: 20px;
    height: 100px;
    align-items: center;
}

.item_detail img {
    width: 80px;
    height: 80px;
    border-radius: 3px;
    /* margin-top: 10px; */
    float: left;
}

.item_detail .name {
    margin-left: 100px;
    margin-top: 20px;
}

.count input {
    width: 40px;
    height: 30px;
    padding: 5px;
}

.body {
    background-color: rgba(0, 0, 0, .2);
}

.cart-info img {
    width: 10%;
}

.cart-page {
    margin: 80px;
    margin-left: 10%;
    margin-right: 10%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.cart-info {
    display: flex;
    flex-wrap: wrap;
}

th {
    text-align: left;
    padding: 5px;
    color: #fff;
    background: black;
    font-weight: normal;
}

.check {
    display: inline-block;
    background-color: rgb(219, 119, 58);
    color: #333;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
}

.container4 {
    margin: 50px;
    margin-left: 45%;
    margin-right: 40%;
    text-align: left;
}

.cart-info2 {
    margin: 50px;
    margin-left: 45%;
    margin-right: 40%;
    text-align: left;
}

.cart-info2 img {
    width: 70%;
}
