* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body{
    overflow-x:hidden;
    max-width:150vw;
    background-color: #e5b993;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 50px;
}
.navbar {
    display: flex;
    align-items: center;

}

.meun {
    display: flex;
    margin-left: 120%;
    text-align: right;
}

.meun ul {
    display: flex;
    list-style-type: none;
}

.meun ul li {
    display: inline-block;
    margin-right: 25px;
    padding: 15px;
}

a {
    text-decoration: none;
    color: black;
}

p {
    color: black;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 35px;
    padding-right: 35px;
    display: flex;
    justify-content: space-between;
}

.navigationbar {
    background-color: #333;
    overflow: hidden;
    text-align: center;
    justify-content: center;
    display: flex;
    word-spacing: 20%;
}

.navigationbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown p{
    color: white;
}
.comment{
    outline: none;
    background-color: white;
    border: 1px solid black;
    margin-top: 50px;
    font-size: 15px;
    width: 100%;
    color: black ;
    /*display: block;
    margin: auto;*/
}


.container{
    /*position: relative;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   /* border-style: solid;*/
    

}

.Selfintroduction{
    display: flex;
    justify-content: center;
}

.container .box{
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    transition: 0.5s;
}

.container .box:hover{
    transform: scale(1.25);
    box-shadow: 0 25px 40px rgba(0,0,0,0,5);
    z-index: 1;
    height: 300px;
    overflow: hidden;    
}

.container .box .img-box img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.container .box .img-box{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .box .img-box:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #222, transparent);
    z-index: 1;
    opacity: 0;
    transition: 0.5s;
}

.container .box:hover .img-box:before{
    opacity: 1;
}

.container .box .text-box{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    align-items: flex-end;
    color: white;
    z-index: 2;
}

.container .box .text-box h2{
    font-size: 20px;
    margin-bottom: 10px;
    transform: translateY(200px);
    transition: 0.5s;
}

.container .box:hover .text-box h2{
    transform: translateY(0);
    transition-delay: 0.3s;
}

.container .box .text-box p{
    font-size: 13px;
    line-height: 20px;
    transform: translateY(200px);
    transition: 0.5s;
    color: white;
}

.container .box:hover .text-box p{
    transform: translate(0);
    transition-delay: 0.3s;
}

.footer {
    background-color: black;
    color: #a19d9d;
    font-size: 14px;
    padding: 60px 0 20px;
}

.footer p {
    color: #a19d9d;
}

.footer h3 {
    color: #fff;
    margin-bottom: 20px;
}

.footer-col2 {
    width: 10%;
}

.footer-col2 img {
    border-radius: 22px;
    width: 70%;
}

.container1 {
    display: flex;
    justify-content: space-evenly;
}

.footer-col4 {
    text-decoration: none;
}


.ig {
    width: 100px;
    height: 100px;
    border-radius: 22px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
