* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 30f400ee317f26ec5c6815d425a540519d0bc177
}

body {
    background-color: #e5b993;
    overflow-x: hidden;
    max-width: 100vw;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

.meun {
    flex: 1;
<<<<<<< HEAD
=======
   
}

body{
    overflow-x:hidden;
    max-width:150vw;
    background-color: #e5b993;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 50px;
}
.navbar {
    display: flex;
    align-items: center;

}

.meun {
    display: flex;
    margin-left: 120%;
>>>>>>> 6e57dff2ae0f041fea941ee557735512f706894c
=======
>>>>>>> 30f400ee317f26ec5c6815d425a540519d0bc177
    text-align: right;
}

.meun ul {
<<<<<<< HEAD
<<<<<<< HEAD
    display: inline-block;
=======
    display: flex;
>>>>>>> 6e57dff2ae0f041fea941ee557735512f706894c
=======
    display: inline-block;
>>>>>>> 30f400ee317f26ec5c6815d425a540519d0bc177
    list-style-type: none;
}

.meun ul li {
    display: inline-block;
<<<<<<< HEAD
<<<<<<< HEAD
    margin-right: 10px;
=======
    margin-right: 25px;
>>>>>>> 6e57dff2ae0f041fea941ee557735512f706894c
=======
    margin-right: 10px;
>>>>>>> 30f400ee317f26ec5c6815d425a540519d0bc177
    padding: 15px;
}

a {
    text-decoration: none;
    color: black;
}

p {
    color: black;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 35px;
    padding-right: 35px;
<<<<<<< HEAD
<<<<<<< HEAD
=======
    display: flex;
    justify-content: space-between;
>>>>>>> 6e57dff2ae0f041fea941ee557735512f706894c
=======
>>>>>>> 30f400ee317f26ec5c6815d425a540519d0bc177
}

.navigationbar {
    background-color: #333;
    overflow: hidden;
    text-align: center;
    justify-content: center;
    display: flex;
    word-spacing: 20%;
}

.navigationbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 30f400ee317f26ec5c6815d425a540519d0bc177
.search-btn img {
    width: 20px;
    height: auto;
}

ul {
    /* 取消ul預設的內縮及樣式 */
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.drop-down-menu {
    display: inline-block;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 15px;
}

ul.drop-down-menu>li:last-child {
    border-right: none;
}

ul.drop-down-menu a {
    color: #333;
    display: flex;
    padding: 0 30px;
    text-decoration: none;
    line-height: 40px;
    border: solid;
}

.dropdown {
    border-radius: 10px;
    background-color: wheat;
    margin-right: -500px;
}

.dropdown01 {
    border-radius: 10px;
    background-color: #333;
}

.dropdown01 p {
    color: wheat;
}

ul.drop-down-menu a:hover {
    /* 滑鼠滑入按鈕變色*/
    border-radius: 10px;
    background-color: #ef5c28;
    color: #fff;
}

ul.drop-down-menu li:hover>a {
    /* 滑鼠移入次選單上層按鈕保持變色*/
    border-radius: 10px;
    background-color: #ef5c28;
    color: #fff;
}

ul.drop-down-menu ul li {
    border-bottom: #ccc 1px solid;
}

ul.drop-down-menu ul li:last-child {
    border-bottom: none;
}

ul.drop-down-menu ul {
    /*隱藏次選單*/
    left: auto;
    right: 0;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

ul.drop-down-menu li:hover>ul {
    /* 滑鼠滑入展開次選單*/
    opacity: 1;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    left: -1px;
    border-right: 5px;
}

ul.drop-down-menu ul li:hover>ul {
    /* 第二層之後的選單展開位置*/
    left: 90%;
}

ul.drop-down-menu .dropdown {
<<<<<<< HEAD
=======
.dropdown {
>>>>>>> 6e57dff2ae0f041fea941ee557735512f706894c
=======
>>>>>>> 30f400ee317f26ec5c6815d425a540519d0bc177
    float: left;
    overflow: hidden;
}

<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 30f400ee317f26ec5c6815d425a540519d0bc177
ul.drop-down-menu .dropdown p {
    color: white;
    text-align: right;
}

.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown p {
    color: white;
    text-align: right;
}

#container {
    position: relative;
    width: 900px;
    height: 500px;
    border: 3px solid #333;
    margin: 115px auto;
    overflow: hidden;
}

.Selfintroduction {
<<<<<<< HEAD
=======
.dropdown p{
    color: white;
}
.comment{
    outline: none;
    background-color: white;
    border: 1px solid black;
    margin-top: 50px;
    font-size: 15px;
    width: 100%;
    color: black ;
    /*display: block;
    margin: auto;*/
}


.container{
    /*position: relative;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   /* border-style: solid;*/
    

}

.Selfintroduction{
>>>>>>> 6e57dff2ae0f041fea941ee557735512f706894c
=======
>>>>>>> 30f400ee317f26ec5c6815d425a540519d0bc177
    display: flex;
    justify-content: center;
}

<<<<<<< HEAD
<<<<<<< HEAD
.container .box {
=======
.container .box{
>>>>>>> 6e57dff2ae0f041fea941ee557735512f706894c
=======
.container .box {
>>>>>>> 30f400ee317f26ec5c6815d425a540519d0bc177
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    transition: 0.5s;
}

<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 30f400ee317f26ec5c6815d425a540519d0bc177
.container .box:hover {
    transform: scale(1.25);
    box-shadow: 0 25px 40px rgba(0, 0, 0, 0, 5);
    z-index: 1;
    height: 300px;
    overflow: hidden;
}

.container .box .img-box img {
<<<<<<< HEAD
=======
.container .box:hover{
    transform: scale(1.25);
    box-shadow: 0 25px 40px rgba(0,0,0,0,5);
    z-index: 1;
    height: 300px;
    overflow: hidden;    
}

.container .box .img-box img{
>>>>>>> 6e57dff2ae0f041fea941ee557735512f706894c
=======
>>>>>>> 30f400ee317f26ec5c6815d425a540519d0bc177
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


<<<<<<< HEAD
<<<<<<< HEAD
.container .box .img-box {
=======
.container .box .img-box{
>>>>>>> 6e57dff2ae0f041fea941ee557735512f706894c
=======
.container .box .img-box {
>>>>>>> 30f400ee317f26ec5c6815d425a540519d0bc177
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

<<<<<<< HEAD
<<<<<<< HEAD
.container .box .img-box:before {
=======
.container .box .img-box:before{
>>>>>>> 6e57dff2ae0f041fea941ee557735512f706894c
=======
.container .box .img-box:before {
>>>>>>> 30f400ee317f26ec5c6815d425a540519d0bc177
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #222, transparent);
    z-index: 1;
    opacity: 0;
    transition: 0.5s;
}

<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 30f400ee317f26ec5c6815d425a540519d0bc177
.container .box:hover .img-box:before {
    opacity: 1;
}

.container .box .text-box {
<<<<<<< HEAD
=======
.container .box:hover .img-box:before{
    opacity: 1;
}

.container .box .text-box{
>>>>>>> 6e57dff2ae0f041fea941ee557735512f706894c
=======
>>>>>>> 30f400ee317f26ec5c6815d425a540519d0bc177
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    align-items: flex-end;
    color: white;
    z-index: 2;
}

<<<<<<< HEAD
<<<<<<< HEAD
.container .box .text-box h2 {
=======
.container .box .text-box h2{
>>>>>>> 6e57dff2ae0f041fea941ee557735512f706894c
=======
.container .box .text-box h2 {
>>>>>>> 30f400ee317f26ec5c6815d425a540519d0bc177
    font-size: 20px;
    margin-bottom: 10px;
    transform: translateY(200px);
    transition: 0.5s;
}

<<<<<<< HEAD
<<<<<<< HEAD
.container .box:hover .text-box h2 {
=======
.container .box:hover .text-box h2{
>>>>>>> 6e57dff2ae0f041fea941ee557735512f706894c
=======
.container .box:hover .text-box h2 {
>>>>>>> 30f400ee317f26ec5c6815d425a540519d0bc177
    transform: translateY(0);
    transition-delay: 0.3s;
}

<<<<<<< HEAD
<<<<<<< HEAD
.container .box .text-box p {
=======
.container .box .text-box p{
>>>>>>> 6e57dff2ae0f041fea941ee557735512f706894c
=======
.container .box .text-box p {
>>>>>>> 30f400ee317f26ec5c6815d425a540519d0bc177
    font-size: 13px;
    line-height: 20px;
    transform: translateY(200px);
    transition: 0.5s;
    color: white;
}

<<<<<<< HEAD
<<<<<<< HEAD
.container .box:hover .text-box p {
=======
.container .box:hover .text-box p{
>>>>>>> 6e57dff2ae0f041fea941ee557735512f706894c
=======
.container .box:hover .text-box p {
>>>>>>> 30f400ee317f26ec5c6815d425a540519d0bc177
    transform: translate(0);
    transition-delay: 0.3s;
}

.footer {
    background-color: black;
    color: #a19d9d;
    font-size: 14px;
    padding: 60px 0 20px;
}

.footer p {
    color: #a19d9d;
}

.footer h3 {
    color: #fff;
    margin-bottom: 20px;
}

.footer-col2 {
    width: 10%;
}

.footer-col2 img {
    border-radius: 22px;
    width: 70%;
}

.container1 {
    display: flex;
    justify-content: space-evenly;
}

.footer-col4 {
    text-decoration: none;
}


.ig {
    width: 100px;
    height: 100px;
    border-radius: 22px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
<<<<<<< HEAD
<<<<<<< HEAD

.content {}
=======
>>>>>>> 6e57dff2ae0f041fea941ee557735512f706894c
=======

.content {}
>>>>>>> 30f400ee317f26ec5c6815d425a540519d0bc177
