<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/car.css">
</head>
<body>
    <div class="header">
        <div class="container">
        <div class="navbar">  
            <div class="logo">
                <img src="../assets/img/img01.jpg" width="175px">
            </div>
        <nav class="meun">
            <ul>
                <li><a href="../pages/index.html">Home</a></li>
                <li><a href="../pages/hw01.html">Shop</a></li>
                <a href="../pages/team.html">
                    <li>Contact</a></li>
                </a>
                <li><a href="../pages/login.html">Account</a></li>
            </ul>
        </nav>
        <div>
            <a href="../pages/cart.html">
                <img src="../assets/img/car.png" width="30px" height="30px">
            </a>
        </div>
        </div>
    <div id="cart">
        <div class="container">
            <div class="item_header">
                <div class="item_detail">商品</div>
                <div class="price">單價</div>
                <div class="count">數量</div> 
                <div class="amount">總計</div>
                <div class="operate">操作</div>
            </div>
            <div class="item_container" v-for="(item, index) in itemList" :key="item.id" >
                    <div class="item_header item_body">
                            <div class="item_detail">
                                <img src="../assets/img/img13.jpg">
                                <div class="name">🧋珍珠奶茶造型飲料提袋🧋</div>
                            </div>
                            
                            <div class="price"><span>$</span>400</div>
                            <div class="count">
                                    <input type="number" value="1">
                             </div>
                            <div class="amount">400</div>
                            <div class="operate">
                                <button @click="handledelete(index)">刪除</button>
                            </div>
                    </div>
            </div>
        <div class="item_container" v-for="(item, index) in itemList" :key="item.id" >
            <div class="item_header item_body">
                    <div class="item_detail">
                        <img src="../assets/img/img05.jpg">
                        <div class="name">🪻桔梗鏤空花花證件掛繩🪻<</div>
                    </div>
                    
                    <div class="price"><span>$</span>350</div>
                    <div class="count">
                        <input type="number" value="1">
                    </div>
                    <div class="amount">350</div>
                    <div class="operate">
                        <button @click="handledelete(index)">刪除</button>
                    </div>
            </div>
    </div>
    <div class="row">
        <div class="col1">
            <a href="../pages/checkout.html" class="check">結帳 &#8594;</a>
         </div>
        </div>
        </div>

        <div class="footer">
            <div class="row">
                <div class="container1">
                    <div class="footer-col2">
                        <img src="../assets/img/img01.jpg">                    
                    </div>
                    <div class="footer-col3">
                        <a href="https://www.instagram.com/yuweaves/">
                             <img class="ig" src="../assets/img/ig.png">
                        </a>
                    </div>
                    <div class="footer-col3">
                        <a href="mailto:jim20030917@gmail.com">
                             <img class="ig" src="../assets/img/emal.jpg">
                        </a>
                    </div>
                    <div class="footer-col4">
                        <h3>聯絡我們</h3>
                        <ul>
                            <li>電話: +886-3-265-9999</li>
                            <li>傳真：+886-3-265-8888</li>
                            <li>地址: 320314 桃園市中壢區中北路200號</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    


    
</body>
</html>